*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
#app{
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(245, 240, 240);
    border-radius: 5px;
}
.mainContainer{
    width: 100%;
    display:flex;
    margin:20px 0;
}
.sortContainer{
    display: flex;
    width: 15%;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
}

.lessonsContainer{
    display:flex;
    margin: 0 10px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product{
    width: 47%;
    margin: 0 10px;
}



.toolbar-container {
    display: flex;
    top: 0px;
    z-index: 10;
    position: sticky;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

#checkOutContainer button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}