*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
#app{
    width: 70%;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(183, 204, 225);
    border-radius: 5px;
}
.toolbar-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}
.myBtnContainer{
    
}
#checkOutContainer{
    
}
#checkOutContainer button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}